<div class="container">
    <div class="about">
        <h3 class="heading">BabyQuip Quality Providers</h3>
        <p>From our A-rated insurance to our thorough cleaning processes, you can rest assured that the gear you rent from BabyQuip will be clean and safe.</p>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <img src="/assets/about.jpg" class="about-img" alt="about image">
        </div>
        <div class="col-lg-6">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Expert Quality Providers
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <span>BabyQuip Quality Providers are trained to meticulously clean and sanitize all rental gear both before and after each delivery. We also stay current on safety recalls and product guidelines relating to children’s safety.</span>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Quality Checks
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <span>Products are stripped down, scrubbed, steamed, sanitized, washed, and carefully dried, so you can rest assured that the gear you rent is clean and sanitary! BabyQuip Quality Providers take pride in their work and it shows!</span>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Customer Satisfaction
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <span>We take incredible pride in providing clean, sanitized and safe gear to all of our traveling families! BabyQuip has already completed over 90,000 reservations.</span>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Cleaning & Sanitizing Standards
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <span>At BabyQuip, cleanliness and safety are our top priorities. Learn all about our commitment to cleaning and sanitizing baby gear and why we’re so serious about providing squeaky-clean rentals in over 650+ locations around the world.</span>
                      </div>
                    </div>
                  </div>  
              </div>
        </div>
    </div>
</div>
<app-store-support></app-store-support>