<footer class="align-items-center py-3 border-top">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-items-center">
                <span class="text-muted">&copy; {{ currentYear }} Company, Inc</span>
            </div>
            <div class="col-md-6 align-items-center">
                <app-social-icon></app-social-icon>
            </div>
        </div>
    </div>
</footer>
<button (click)="scrollToTop()"  color="warn" *ngIf="pageYoffset > 0" class="scroll-top" aria-label="icon scroll to top" >
    <fa-icon [icon]="['fas', 'angle-up']"></fa-icon>
</button>