footer {
    background: url('/assets/footer_bg.png') no-repeat top left;
    background-size: auto;
    background-attachment: scroll;
}
.text-muted {
    font-size: 12px;
}

.scroll-top{
    position: fixed;
    background-color: #e23e1d;
    color: #fff;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    border: 1px solid #e23e1d;
    width: 45px;
    height: 45px;
  }