<div class="header-top">
    <div class="container">
        <div class="row ">
            <div class="col">
                <div class="contact-icons">
                    <a href="tel:+359885552525">
                        <fa-icon [icon]="['fas', 'phone']"></fa-icon>
                        <span>+359885552525</span>
                    </a>
                    <a href="mailto:admin@gmail.com">
                        <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
                        <span>admin@gmail.com</span>
                    </a>
                </div>
            </div>
            <div class="col-6 text-center">
                You can now <span class="color-focus">SAVE</span> space!<span class="color-focus"> Get this offer now!</span>
            </div>
            <div class="col">
               <app-social-icon></app-social-icon>
            </div>
        </div>
    </div>
</div>