.login-form button {
    background-color: #e23e1d;
    color: #fff;
    cursor: pointer;
    border: 1px solid #e23e1d;
    width: auto;
}
.login-section .card-footer a {
    color: #e23e1d;
    text-decoration: underline;
}
div.error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #e23e1d;
}
.login-section .input-error {
    border: 1px solid #e23e1d;
}