<div class="store-support">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="store-support style-3">
                    <div class="support-icon">
                        <fa-stack>
                            <fa-icon [icon]="['fas', 'baby-carriage']" [stackItemSize]="stackItemSize"></fa-icon>
                        </fa-stack>
                    </div>
                    <div class="support-text">
                        <strong>Baby gear</strong>
                        <p>Choose the baby gear you would like to rent.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="store-support style-3">
                    <div class="support-icon">
                        <fa-stack>
                            <fa-icon [icon]="['fas', 'calendar-days']" [stackItemSize]="stackItemSize"></fa-icon>
                        </fa-stack>
                    </div>
                    <div class="support-text">
                        <strong>Choose your dates</strong>
                        <p>Confirm your dates & location.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="store-support style-3">
                    <div class="support-icon">
                        <fa-stack>
                            <fa-icon [icon]="['fas', 'truck']" [stackItemSize]="stackItemSize"></fa-icon>
                        </fa-stack>
                    </div>
                    <div class="support-text">
                        <strong>Free Delivery</strong>
                        <p>You will receive your items.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="store-support style-3">
                    <div class="support-icon">
                        <fa-stack> 
                            <fa-icon [icon]="['fas', 'headset']" [stackItemSize]="stackItemSize"></fa-icon>
                        </fa-stack>
                    </div>
                    <div class="support-text">
                        <strong>24/7 Support</strong>
                        <p>Dedicated support<br/>with us.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
