<div class="section-slider">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/carousel/slider1.jpg" class="d-block w-100" alt="slider baby equipment">
        </div>
        <div class="carousel-item">
            <img src="/assets/carousel/slider1.jpg" class="d-block w-100" alt="slider baby equipment">
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="section-support">
    <app-store-support></app-store-support>
</div>

<div class="section-category">

</div>

<div class="section-work">
    <div class="container">
        <h3 class="heading">So How Does it Work?</h3>
        <div class="work-list">
            <div class="work-item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="content">
                    <div class="title">Book Your Equipment</div>
                    <div class="description">
                        <p>Our booking form will request all the information we need to send equipment.</p>
                    </div>
                </div>
            </div>
            <div class="work-item">
                <div class="number">
                    <span>2</span>
                </div>
                <div class="content">
                    <div class="title">Choose your dates</div>
                    <div class="description">
                        <p>Choose the days off to use the baby equipment.</p>
                    </div>
                </div>
            </div>
            <div class="work-item">
                <div class="number">
                    <span>3</span>
                </div>
                <div class="content">
                    <div class="title">Delivery</div>
                    <div class="description">
                        <p>Pick up baby equipment from our convenient location.</p>
                    </div>
                </div>
            </div>
            <div class="work-item">
                <div class="number">
                    <span>4</span>
                </div>
                <div class="content">
                    <div class="title">To Return Equipment</div>
                    <div class="description">
                        <p>Just call us and we will get the equipment.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-reviews">

</div>

<div class="section-contact">

</div>

